@page
@model RealEstate.Pages.Listings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Listing</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.DateOfListing)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.DateOfListing)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.ExpectedPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.ExpectedPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.Available)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.Available)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Listing.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
